html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

/* ---------- NAVBAR ---------- */

.navbar, .container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.brand, .nav.link a {
  text-transform: uppercase;
  color: #303137;
}

.brand {
    font-size: 25px;
}

.sensei {
  color: #66B6D3;
}

.topnav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topnav li {
  margin-left: 20px;
}

.topnav a {
  text-decoration: none;
  font-size: 18px;
}

.dropdownLink {
    display: none;
}

.quote-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.quote-btn {
    color: #FFFFFF;
    background-color: #66B6D3;
    font-size: 18px;
    border: none;
    padding: .8rem 4rem;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.section-header {
    text-align: center;
    padding: 6rem 0 4rem;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-objects {
    max-width: 270px;
    margin: 1rem 0;
}

.portfolio-box {
    width: 270px;
    height: 270px;
    background-color: #F1F3Fa;
    transition: .2s ease-in-out;
}

form label {
    font-size: 16px;
}

.form-group {
    margin-bottom: .75rem;
}

.form-control {
    max-width: 800px;
    width: 100%;
    background-color: #ffffff;
    color: #292b2c;
    border-radius: 2px;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    display: block;

}

.submit-btn-wrapper {
    margin-top: 3.9rem;
}

.postfolio-box:hover {
    cursor: pointer;
    transform: scale(1.1);

}


/* ---------- HEADER + NAME CENTER ---------- */

header {
    display: flex;
    justify-content: center;
}

.headshot-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;   /* centers image + name */
    text-align: center;
    padding: 6rem 0;
}

.headshot {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

h1 {
    margin-top: 20px;
}

.services, .contact-container {
    background-color: #F1F3Fa;
    padding: 4rem 1rem;
}

.media-object {
    display: flex; 
    align-items: center;
    padding: 4rem 1rem;
}

.icon-left, 
.icon-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.blurb-wrapper-right, 
.blurb-wrapper-left {
    flex: 1;
}

.icon-left, 
.blurb-wrapper-left {
    order: 1;
}

.icon-right, 
.blurb-wrapper-right {
    order: 2;
}

.icon {
    width: 250px;
}

.blurb-wrapper {
    flex: 1;
}

.blurb-header {
    font-size: 24px;
    margin-top: 0;   
}

.blurb-info {
    color: #646B90;
    font-size: 18px;
}


/* ---------- MOBILE ---------- */

@media screen and (max-width: 768px) {

  ul.topnav li a.nav-link {
    display: none;
  }

  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  ul.topnav.responsive li.dropdownLink {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  ul.topnav.responsive {
    flex-direction: column;
    text-align: right;
  }

  ul.topnav.responsive li {
    position: relative;
    top: 30px;
    right: 30px;
  }

  ul.topnav.responsive li a.nav-link {
    display: block;
    line-height: 2;
  }

  .media-object {
    flex-direction: column;
    text-align: center;
}

.icon-right,
.icon-left {
    order: 1;
    padding-top: 2rem;
}

.portfolio-wrapper {
    text-align: center;
}

.form-group {
    display: flex;
}

.submit-btn-wrapper {
    text-align: center;
}

}

@media (max-width: 599px) {
    .portfolio-wrapper {
        justify-content: center;
    }
}

